@model EditReservationViewModel

<form id="editForm">
    <input type="hidden" asp-for="PrenotazioneId" />

    <div class="mb-3">
    <select class="form-select" asp-for="CameraId" required>
        <option value="">-- Seleziona una camera --</option>
        @foreach (var camera in ViewBag.Camere)
        {
            <option value="@camera.CameraId">
                @camera.NumeroCamera @camera.Tipo 
            </option>
        }
    </select>
    </div>
    <div class="mb-3">
    <select class="form-select" asp-for="ClienteId" required>
        <option value="">-- Seleziona un cliente --</option>
        @foreach (var cliente in ViewBag.Clienti)
        {
            <option value="@cliente.ClienteId" >
                @cliente.Nome @cliente.Cognome
            </option>
        }
    </select>
    </div>

      

    <div class="mb-3">
        <label class="form-label">Data Inizio</label>
        <input type="date" class="form-control" asp-for="DataInizio" required id="DataInizio" />
    </div>

    <div class="mb-3">
        <label class="form-label">Data Fine</label>
        <input type="date" class="form-control" asp-for="DataFine" required id="DataFine" />
    </div>


    <div class="mb-3">
        <label class="form-label">Stato</label>
        <input type="text" class="form-control" asp-for="Stato" required />
    </div>

    <button type="button" class="btn btn-success" onclick="sendEditForm()">Salva Modifiche</button>
</form>

